@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap');

body {
    background-color: honeydew;
    font-family: 'Roboto', sans-serif;
}

/* TITLES */

h1 {
    width: 100%;
    margin: auto;
    font-size: 5em;
    font-weight: 700;
    text-align: center;
    font-family: 'Lobster', cursive;
    color: lightgreen
}

h2 {
    width: 100%;
    font-size: 2.5em;
    text-align: center;
    margin: 20px;
    font-family: 'Lobster', cursive;
    color: darkslategrey;
}

h3 {
    font-weight: 700;
    color: white;
}

.title-box {
    width: 100%;
    height: 150px;
    padding-top: 30px;
    background-color: darkslategrey;

}

.leaf {
    margin: 0 50px;
}

/* SHOP PRODUCTS */

.shop {
    width: 420px;
    height: 510px;
}

.product-box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: lightgreen;
    color: darkslategrey;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.product-box p {
    margin:10px;
    font-weight: 700;
    font-size: 1.2em;
}


/* CARRITO */

.carrito {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: block;
    text-align: center;
}

.btn-trash {
    height: 40px;
    width: 40px;
}

.bin {
    color: #fff;
    font-size: 2em;
}

h3, h4, p {
    margin: 0;
}

